<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">



    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="/etapes" aria-expanded="false" aria-controls="form-elements">
                  Liste des etapes
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="#">Basic Elements</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="/employer" aria-expanded="false" aria-controls="form-elements">
                            Recrutement
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="#">ChartJs</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
       <a class="nav-link" data-bs-toggle="collapse" href="/paiement" aria-expanded="false" aria-controls="form-elements">
                                     paiement
                </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="#">Basic table</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">

      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="#">Mdi icons</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">pages</li>
  </ul>
</nav>
