<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
    <div>
      <img src="../../../../assets/Image/Mef.jpg" width="180px" height="90px">
    </div>
  </div>

  <div class="navbar-menu-wrapper d-flex align-items-top">
    <ul class="navbar-nav">
      <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
        <form class="form-control" action="#">
          <input type="text" class="form-control" placeholder="Search Here" title="Search here">
        </form>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
    <div class="custom-dropdown">
      <button class="btn btn-light dropdown-toggle">Paramétrages</button>
      <div class="custom-dropdown-content">
        <button onclick="location.href='/modeexecutions'">Mode d'exécution</button>
        <button onclick="location.href='/listeencours'">Liste d'attente</button>
        <button onclick="location.href='/compte'">Compte</button>
        <button onclick="location.href='/listecodebenef'">Béneficiaire</button>
        <button onclick="location.href='/codetype'">code type</button>
      </div>
    </div>
  </ul>
    <style>
      .custom-dropdown {
        position: relative;
        display: inline-block;
      }
      .custom-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .custom-dropdown-content button {
        background-color: #f9f9f9;
        border: none;
        padding: 12px 16px;
        text-align: left;
        width: 100%;
        cursor: pointer;
      }
      .custom-dropdown-content button:hover {
        background-color: #f1f1f1;
      }
      .custom-dropdown:hover .custom-dropdown-content {
        display: block;
      }
    </style>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown d-none d-lg-block user-dropdown">
        <a class="nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="form-elements" href="/deconnecter">Sign out</a>
      </li>
    </ul>

    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
