<div class="container-fluid page-body-wrapper">
  <!-- partial:../../partials/_settings-panel.html -->
  <!-- partial -->
  <!-- partial:../../partials/_sidebar.html -->

  <!-- partial -->
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Liste des ecritures en attente de validation</h4>

            <a class="btn btn-link" routerLink="/history">Historique</a>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Annee</th>
                    <th>Codea2</th>
                    <th>Montant</th>
                    <th>   </th>
                    <th>   </th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Utiliser *ngFor pour créer une ligne pour chaque élément -->
                  <tr *ngFor="let a2budget of a2budgedlist">
                    <td>{{a2budget.annee}}</td>
                    <td>{{a2budget.codea2}}</td>
                    <td>{{a2budget.montant}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="onValiderClick(a2budget.idA2budget ?? 0)" >Valider</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="onsupprimerClick(a2budget.idA2budget ?? 0)">Supprimer</button></td>
                  </tr>
                </tbody>
              </table>

              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item" [class.disabled]="currentPage === 0">
                    <button class="page-link" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
                  </li>
                  <li class="page-item">
                    <span class="page-link"> {{ currentPage + 1 }}</span>
                  </li>
                  <li class="page-item" [class.disabled]="(currentPage + 1) * pageSize >= totalItems">
                    <button class="page-link" (click)="onPageChange(currentPage + 1)" [disabled]="(currentPage + 1) * pageSize >= totalItems">Next</button>
                  </li>
                </ul>
              </nav>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<footer class="footer">
<div class="d-sm-flex justify-content-center justify-content-sm-between">
  <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
  <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
</div>
</footer>
